/* * {
    border: 1px solid black;
} */

.menu {
    list-style: none;
    width: 100px;
    display: inline-block;
}

body {
    width: 960px;
    margin: 0px auto;
    background-color: lightblue;
}

header {
    height: 200px;
}

#main-header {
    width: 100%;
    text-align: center;
    margin: 5px auto;
}

header nav {
    background-color: rosybrown;
    color: darkblue;
    width: 100%;
    text-align: end;
}

.fun {
    list-style: none;
    display: inline-block;
}

.loop {
    color: brown;
    display: inline;
    width: 50px;
}

.size4 {
    width: 25px;
}
.size6 {
    width: 35px;
}

/* This area below styles the body>main */

.balls {
    list-style: none;
    width: 30%;
    display: inline-block;
    border: 1px;
    border-block-color: black;
    padding: 1px
}

#shelf {
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

/* This area below styles footer  */

footer {
    background-color: beige;
}

footer nav ul {
    list-style: none;
    width: 30%;
    display: inline-block;
}
