/* * {
    border: 1px solid black;
} */

.menu {
    list-style: none;
    width: 100px;
    display: inline-block;
}

body {
    width: 960px;
    margin: 0px auto;
    background-color: lightblue;
}

header {
    height: 150px;
}

#main-header {
    width: 100%;
    text-align: center;
    margin: 5px auto;
}

header nav {
    color: darkblue;
    width: 100%;
}

.fun {
    list-style: none;
    display: inline-block;
}

/* This area below styles the body>main */

.balls {
    list-style: none;
    width: 33%;
    display: inline-block;
    border: 1px;
    border-block-color: black;
}

#shelf {
    background-color: white;
}

/* This area below styles footer  */

footer nav ul {
    list-style: none;
    width: 30%;
    display: inline-block;
}